@import "reset.css";

body {
  background-color: #f6f9fcde;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.control {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control .control-range {
  margin-bottom: 30px;
}

.control .control-btns {
  margin-bottom: 30px;
}

.control-btns button {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.control-btns button:active {
  transform: scale(0.95);
}

.control .control-colors {
  display: flex;
}

.control-colors .control-color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.control-colors .control-color:active {
  transform: scale(0.95);
}
